<app-nav-bar id="nav-bar" (scrollToParent)="scrollToId($event)"></app-nav-bar>
<app-accueil id="profil" (scrollToParent)="scrollToId($event)"></app-accueil>

<div>
    <app-reseaux id="reseau"></app-reseaux>
</div>

<div>
    <app-propo-moi id="propo"></app-propo-moi>
</div>
<app-experiences id="parcours"></app-experiences>

<!-- <app-diplome id="diplome"></app-diplome> -->

<app-langage-infor id="langages" class="py-3"> </app-langage-infor>
<app-projets></app-projets>

<!-- <div class="blank2">
    <app-contact id="contact" class="py-3"></app-contact>
</div> -->

<app-footer></app-footer>